/*css for article page*/
.title
{
  position: relative;
  font-size: 40px;
  font-weight: 600px;
  padding: 40px 0 0 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Trirong', serif;
  background-color: #faf2e8e0;
}

.container
{
  position: relative;
  height: 1000px;
  width: 100%;
  margin-bottom: 700px;
  align-items: center;
}

.container .box
{
  position: relative;
  height: calc(1000px - 700px);
  margin: 30px 20px;
  background: #ffccff;
  float: center;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;

}

.container .box .element
{
    display: flex;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-30%);
    transform: translateY(-30%);

}


.container .minititle
{
  position: absolute;
  font-family: 'Trirong', serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  top: 15px;
  left: 38%;
  color: #000;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.container .btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  font-family: inherit;
  font-weight: normal;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.2);
  color: white;
  opacity: 0.7;
}
